---
interface Props {
  currentPage?: string;
}
const { currentPage } = Astro.props;
---
<aside class="page-sidebar">
  <div class="sidebar-section">
    <div class="sidebar-heading">Contents</div>
    <ul class="sidebar-nav" id="toc-nav">
      <!-- Auto-populated by JS from page headings -->
    </ul>
  </div>
  <div class="sidebar-section">
    <div class="sidebar-heading">Navigation</div>
    <ul class="sidebar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/pages/Portal_Galaxy_Evolution/">Galaxy Evolution Portal</a></li>
      <li><a href="/papers/">Paper Summaries</a></li>
      <li><a href="/daily/">Daily Summaries</a></li>
      <li><a href="/concepts/">Concepts</a></li>
    </ul>
  </div>
</aside>
